.card {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.card > * {
  padding: 6px 20px;
}

.card-header {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(250, 250, 250, 0.7);
}

.card-header > h6 {
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
}

.card-content {
  border-bottom: 1px solid rgba(250, 250, 250, 0.4);
  width: inherit;
  overflow-y: scroll;
  flex-grow: 1;
}

.card-actions {
  padding: 0 20px 12px 20px;
}
