/* set up variables */
.dark {
  --border: 1px solid hsla(0, 0%, 100%, 0.4);
  --paper-highlight-color: hsl(0, 0%, 40%);
  --table-hover-color: var(--paper-highlight-color);
  --log-request-background: hsl(230, 48%, 48%);
  --log-response-background: var(--paper-highlight-color);
  --prefix-before-color: hsl(200, 100%, 80%);
  --prefix-after-color: hsl(116, 100%, 80%);
}

.light {
  --border: 1px solid hsla(0, 0%, 0%, 0.2);
  --paper-highlight-color: hsl(0, 0%, 94%);
  --table-hover-color: var(--paper-highlight-color);
  --log-request-background: hsl(230, 48%, 78%);
  --log-response-background: var(--paper-highlight-color);
  --prefix-before-color: hsl(200, 100%, 50%);
  --prefix-after-color: hsl(116, 80%, 40%);
}

/* --border-color: black; */
.input-no-padding input {
  padding: 6px 1em;
}

.margin-bottom-sm {
  margin-bottom: 4px;
}
