/* set up variables */
:root {
  --border: 1px solid var(--border-color);
}

.dark {
  --border: 1px solid rgba(255, 255, 255, 0.4);
  --paper-highlight-color: #616161;
  --table-hover-color: var(--paper-highlight-color);
  --log-request-background: #3f51b5;
  --log-response-background: var(--paper-highlight-color);
  --prefix-before-color: rgb(132, 164, 251);
  --prefix-after-color: rgb(128, 197, 124);
}

.light {
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --paper-highlight-color: #ddd;
  --table-hover-color: var(--paper-highlight-color);
  --log-request-background: rgb(162 216 255);
  --log-response-background: var(--paper-highlight-color);
  --prefix-before-color: rgb(0, 68, 255);
  --prefix-after-color: rgb(23, 166, 14);
}

/* --border-color: black; */
.input-no-padding input {
  padding: 6px 1em;
}

.margin-bottom-sm {
  margin-bottom: 4px;
}
